/* TIPO */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

/* RESET CSS */

html body {
  margin: 0;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

/* HEADER */

.banner {
  background-color: #201E2F;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  text-align: center;
  color: #F4F3F4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}

/* HAMBURGUER MENU */

.topbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #494257;
  height: 70px;
  padding: 1em;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  z-index: 200;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 1rem;
  overflow: hidden;
}

.nav-menu>ul {
  display: flex;
  flex-direction: row;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 4px;
    margin-top: 65px;
    left: 0;
    width: 100vw;
    background-color: #494257;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  }

  .nav-menu__item {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
  }

  .nav-menu>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.6);
  }

  #menu-toggle~.nav-menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.nav-menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .nav-menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
  }

  .nav-menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.nav-logo:hover {
  filter: drop-shadow(0px 0px 5px #DDF52F);
  transition: filter 0.5s ease-in-out;
}

/* ICONS NAV MENU */

.nav-menu__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* PILL */

#pill {
  background-color: #201E2F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 20px 40px;
}

iframe {
  border: 0;
  width: 247px;
  height: 319px;
}

.type_yellow {
  color: #DDF52F;
  font-family: 'Quicksand', sans-serif;
}

.type_white {
  color: #F4F3F4;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.text_line-through {
  text-decoration: line-through;
}

.button_buy-now {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #494257;
  border: 3px solid #DDF52F;
  border-radius: 36px;
  box-shadow: 0px 0px 9px #DDF52F;
  font-size: 20px;
  font-weight: bold;
  color: #DDF52F;
  text-shadow: 0px 0px 9px #DDF52F;
  animation: neon 1.5s ease-in-out infinite alternate;
  transition: transform 0.2s ease;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #F4F3F4, 0 0 20px #F4F3F4, 0 0 30px #F4F3F4, 0 0 40px #ddf52f7,
      0 0 70px #ddf52f, 0 0 80px #ddf52f, 0 0 100px #ddf52f, 0 0 150px #ddf52f;
  }

  to {
    text-shadow: 0 0 5px #F4F3F4, 0 0 10px #F4F3F4, 0 0 15px #F4F3F4, 0 0 20px #ddf52f,
      0 0 35px #ddf52f, 0 0 40px #ddf52f, 0 0 50px #ddf52f, 0 0 75px #ddf52f;
  }
}

.button_buy-now:hover {
  transform: scale(1.2);
}

/* PHRASE */

#phrase {
  background-color: #babfcf;
  font-size: 12px;
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  text-align: center;
  padding: 1.5em;
  padding-left: 4em;
  padding-right: 4em;
}

/* REVIEWS */

#reviews {
  background-color: #494257;
  color: #F4F3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5em;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}

.reviews-slider {
  display: flex;
}

.reviews-bg {
  background: #BABFCF;
  color: #201E2F;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 20px;
  width: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: start;
}

.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* PETS */

#pets {
  background-color: #201E2F;
  color: #F4F3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  height: 260px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}

#pets h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pets p {
  padding: 40px 75px;
}

#pets div {
  display: flex;
  align-items: center;

}

#pets iframe {
  width: 100px;
  height: 125px;
}

/* NEWSLETTER */

#newsletter {
  background-color: #494257;
  color: #F4F3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  text-align: center;
}

#newsletter input {
  border: 3px solid #DDF52F;
  border-radius: 36px;
  padding: 8px 25px;
  text-align: center;
  background-color: transparent;
  box-shadow: 0px 0px 9px #DDF52F;
  color: #F4F3F4;
}

#newsletter button {
  display: flex;
  justify-content: center;
  padding: 8px 22px;
  margin-top: 10px;
  border: 3px solid #DDF52F;
  background-color: transparent;
  border-radius: 36px;
  color: #DDF52F;
  filter: drop-shadow(0px 0px 5px);
  font-weight: bold;
}

/* SHIPPING */

#shipping {
  background-color: #babfcf;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}

/* CONTACT */

#contact {
  background-color: #494257;
  color: #F4F3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  text-align: center;
}

#contact input {
  border: 3px solid #DDF52F;
  border-radius: 36px;
  padding: 8px 25px;
  background-color: transparent;
  box-shadow: 0px 0px 9px #DDF52F;
  color: #F4F3F4;
  margin: 8px;
}

#text-formulary {
  height: 100px;
}

#contact button {
  display: flex;
  justify-content: center;
  padding: 8px 22px;
  margin-top: 10px;
  border: 3px solid #DDF52F;
  background-color: transparent;
  border-radius: 36px;
  color: #DDF52F;
  filter: drop-shadow(0px 0px 5px);
  font-weight: bold;
}

/* FOOTER */

footer {
  background-color: #201E2F;
  color: #F4F3F4;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

footer>ul {
  text-align: center;
  list-style: none;
}

li>a {
  text-decoration: none;
  color: #F4F3F4;
  font-size: 14px;
}

.footer-nav,
.footer-nav-terms {
  margin: 25px;
}

.footer-connected {
  margin-top: 25px;
}

.footer-social {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.footer-pay {
  align-items: center;
  margin: 25px;
}

.footer-pay>img {
  margin: 10px;
}

.footer-line {
  width: 300px;
  border-top: #F4F3F4 solid 2px;
  border-radius: 50px;
}

.footer-copy {
  font-size: 10px;
  margin-top: 25px;
}