/* TIPO */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

/* RESET CSS */

html body {
  margin: 0;
  height: 100%;
}

/* HEADER */

.banner {
  background-color: #201E2F;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  color: #F4F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding-left: 2em;
  padding-right: 2em;
}

/* HAMBURGUER MENU */

.topbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #494257;
  color: #F4F3F4;
  height: 70px;
  padding: 1em;
}

nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.nav-menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.nav-menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .nav-menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .nav-menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* ICONS NAV MENU */

.nav-menu__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* PILL */

#pill {
  background-color: #201E2F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px 28px 40px;
  gap: 20px;
}

iframe {
  border: 0;
  width: 247px;
  height: 319px;
}

.tipe_yellow {
  color: #DDF52F;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}

.tipe_white {
  color: #F4F3F4;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  text-align: center;
}

.button_buy-now {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background-color: #494257;
  border: 3px solid #DDF52F;
  border-radius: 36px;
  box-shadow: 0px 0px 9px #DDF52F;
  font-size: 20px;
  color: #DDF52F;
  text-shadow: 0px 0px 9px #DDF52F;
}

/* PHRASE */

#phrase {
  background-color: #babfcf;
  font-size: 12px;
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  /* semi-bold???? */
  text-align: center;
  padding: 1.5em;
  padding-left: 4em;
  padding-right: 4em;
}

/* REVIEWS */

#reviews {
  background-color: #494257;
  color: #F4F3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  height: 440px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}

/* PETS */

#pets {
  background-color: #201E2F;
  color: #F4F3F4;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  height: 260px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}

#pets h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pets p {
  padding: 40px 75px;
}

#pets div {
  display: flex;
  align-items: center;
  gap: 50px;
}

#pets iframe {
  width: 100px;
  height: 125px;
}

/* NEWSLETTER */

#newsletter {
  background-color: #494257;
  color: #F4F3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  text-align: center;
}

#newsletter input {
  border: 3px solid #DDF52F;
  border-radius: 36px;
  padding: 8px 25px;
  text-align: center;
  background-color: transparent;
  box-shadow: 0px 0px 9px #DDF52F;
  color: #F4F3F4;
}

#newsletter button {
  display: flex;
  justify-content: center;
  padding: 11px 22px;
  margin-top: 10px;
  border: 3px solid #DDF52F;
  background-color: transparent;
  border-radius: 36px;
  color: #DDF52F;
  filter: drop-shadow(0px 0px 5px);
}

/* SHIPPING */

#shipping {
  background-color: #babfcf;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}

/* CONTACT */

#contact {
  background-color: #494257;
  color: #F4F3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  height: 557px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  text-align: center;
}

/* FOOTER */

footer {
  background-color: #201E2F;
  color: #F4F3F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  height: 676px;
}